<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actividad de semana 1 - 2: Python for Data Science (IBM)**

#### **Nombre:** Matthias Sibrian Illescas

#### **Matrícula:** a01794249

## **Módulo 1: Python Basics**

### **Your First Program**

Python es un lenguaje de programación de alto nivel usado de manera extensa tanto por principiantes como por expertos. Además, cuenta con muchos paquetes y librerías adicionales que lo hace muy versátil, y que lo hace un lenguaje de programación clave de aprendizaje para la ciencia y la analítica de datos.

Python es el lenguaje open-source y de alto nivel más popular del momento. Es muy útil para desarrollo web, investigación científica y programación orientada a objetos.

Para comentar código, se usa el símbolo de # para diferenciar de comandos colocados a propósito.

#### **Quiz:** Ejercicios de Skills Network Labs (plataforma)

Así se imprime un texto:

In [1]:
print("Hello World")

Hello World

Así se coloca un comentario. Al correrlo, esto no dará ningún texto de salida en la terminal:

In [2]:
# this is a comment

Así se incluye una nueva línea en la terminal donde se está corriendo el script de Python:

In [3]:
print("Hello\nWorld")

Hello
World

Por lo tanto, este comando se tratará como un comentario:

In [ ]:
# print('Hello World!')

### **Types**

Para representar un dato, es importante conocer que Python tiene diferentes estructuras para hacerlo. Las más comunes son las siguientes:

**Tipo**|**Descripción**
:-----:|:-----:
String|Cadenas de literales alfanuméricos
Int|Números enteros, positivos y negativos
Float|Números en escala real
Booleano|Valor binario, "True" o "False"

Dependiendo el tipo de dato que se quiera guardar, uno de los tipos será más conveniente que otro. Por ejemplo, para valores alfanuméricos, es recomendable los strings. Para un valor entero, el int y para valores numéricos en escala real, el punto flotante.

Todos estos tipos de datos tienen un rango finito, el cual es sumanamente grande.

**Type casting**: La práctica de cambiar un valor de un tipo de dato a otro. Hay que tener en cuenta que se puede perder granularidad en valores numéricos al cambiarlos de un tipo a otro. 

Es importante saber que el valor 1 se castea directamente a un valor True en booleano, mientras que el 0, a un valor False.

#### **Quiz:** Ejercicios de Skills Network Labs (plataforma)

Así se puede saber cuál es el tipo de dato de los siguientes valores, usando el comando *type* en Python:

In [4]:
type('Hello World')

str

In [5]:
type("1.1")

str

Así se puede hacer un casting del valor entre tipos, por ejemplo, de string a entero a booleano:

In [6]:
bool(int("1"))

True

Acá, se conviente un valor real a entero y luego se revisa su tipo:

In [7]:
type(int(1.0))

int

Acá, se castea un entero a un valor booleano:

In [8]:
bool(1)

True

### **Expressions and Variables**

En Python, podemos usar expresiones para llevar a cabo operaciones aritméticas. Se puede realizar sumas, restas, divisiones y operaciones. Python respeta el orden de operaciones habitual, por lo que se puede usar paréntesis para fijar el orden. 

Además, se puede usar variables, lo cual permite guardar un valor con un nombre particular, y luego llevar a cabo operaciones sobre las variables. Luego, se puede ir guardando en otras variables, y así sucesivamente. 

Para fijar una variable, se usa el literal '='. 

Es una buena práctica usar nombres de variables relevantes de una forma ordenada y sistemática en un programa.

### **Lab - Write Your First Python Code! - Ejercicios realizados**

In [1]:
print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [3]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [4]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [5]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (3628399183.py, line 3)

In [6]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Hello, world!')

Hello, world!

In [8]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Hello, world!') #Print the traditional hello world

Hello, world!

In [ ]:
# Integer

11

In [ ]:
# Float

2.14

In [ ]:
# String

"Hello, Python 101!"

In [ ]:
# Type of 12

type(12)

In [ ]:
# Type of 2.14

type(2.14)

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

In [ ]:
# Print the type of -1

type(-1)

In [ ]:
# Print the type of 4

type(4)

In [ ]:
# Print the type of 0

type(0)

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

In [ ]:
# Print the type of 0.5

type(0.5)

In [ ]:
# Print the type of 0.56

type(0.56)

In [ ]:
# System settings about float type

sys.float_info

In [ ]:
# Verify that this is an integer

type(2)

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

In [ ]:
# Convert an integer to a string

str(1)

In [ ]:
# Convert a float to a string

str(1.2)

In [ ]:
# Value true

True

In [ ]:
# Value false

False

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

In [ ]:
# Subtraction operation expression

50 - 60

In [ ]:
# Multiplication operation expression

5 * 5

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

In [ ]:
# Mathematical expression

30 + 2 * 60

In [ ]:
# Mathematical expression

(30 + 2) * 60

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

In [ ]:
# Overwrite variable with new value

x = x / 60
x

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x= 3+2*2
x

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3+2)*2
y

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x+y
z

### **String Operations**

En Python, los strings son básicamente secuencias de elementos ordenados y accesibles a través de un índice. Para accesar cada elemento, es posible indicar la posición en el arreglo.

Algunas operaciones que se pueden hacer sobre los strings:

**Operación**|**Descripción**
:-----:|:-----:
Concatenación|Unir dos strings a través de un +
Multiplicación|Multiplicar varios strings a través de un *
Slicing|Cortar un string a partir de una posición a través de [n:n]

Asimismo, existen métodos exclusivos para manipular strings. Esto permite realizar operaciones más complejas sobre ellos, como por ejemplo:

**Operación**|**Descripción**
:-----:|:-----:
upper(string)|Convierte un string a mayúsculas
replace('old','new')|Reemplaza cierto segmento en un string por otro
find(string)|Devuelve los índices en algún string para cierto segmento

#### **Quiz:** Ejercicios de Skills Network Labs (plataforma)

In [10]:
#Para obtener los elementos pares
Numbers = '0123456'
Numbers[::2]

'0246'

In [11]:
#El resultado del siguiente código será un entero 1, porque es el índice de la posición consultada
"0123456".find('1')

1

In [15]:
#Para seleccionar los primeros cuatro valores del string, 
# se debe indicar un rango de 0 a 4, 
# pues así se indica las primeas cuatro posiciones 
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [16]:
#En el caso de strides, que sirven para indicar un paso en el string, se necesita el siguiente
#código para indicar un paso de 2 en el string
Good="GsoAo+d"
Good[::2]

'Good'

In [17]:
#Para imprimir un string a mayúscula, se usa upper
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [18]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [19]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [20]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [21]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [22]:
# Print the string

print("hello!")

hello!

In [23]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [24]:
# Print the first element in the string

print(name[0])

M

In [25]:
# Print the element on index 6 in the string

print(name[6])

l

In [26]:
# Print the element on the 13th index in the string

print(name[13])

o

In [27]:
# Print the last element in the string

print(name[-1])

n

In [28]:
# Print the first element in the string

print(name[-15])

M

In [29]:
# Find the length of string

len("Michael Jackson")

15

In [30]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [31]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [32]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [33]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [34]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [35]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [36]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [37]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [38]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [39]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [40]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [41]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [42]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [43]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [44]:
# Find the substring in the string.

name.find('Jack')

8

In [45]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [46]:
# Write your code below and press Shift+Enter to execute 

a = "1"
'1'

'1'

In [47]:
# Write your code below and press Shift+Enter to execute

b = "2"
'2'

'2'

In [48]:
# Write your code below and press Shift+Enter to execute 

c = a + b
#'1' + '2' = '12'
'12'
c

'12'

In [49]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
d[0:3]

'ABC'

In [50]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [51]:
# Write your code below and press Shift+Enter to execute
print(r'\ ')

\

In [52]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [53]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find('snow')

95

In [54]:
# Write your code below and press Shift+Enter to execute
g.replace('Mary','Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

### **Review Questions**

In [55]:
3 + 2 * 2

7

In [56]:
name = 'Lizz'

In [57]:
print(name[0:2])

Li

In [58]:
var = '01234567'

In [59]:
print(var[::2])

0246

In [60]:
'1'+'2'

'12'

In [61]:
myvar = 'hello'

In [62]:
myvar.upper()

'HELLO'

## **Módulo 2: Python Data Structures**

### **Lists and tuples**

Las tuplas son una secuencia ordenada. Se separan por comas y se encierran en paréntesis. Pueden contener strings, enteros, floats. Se puede accesar con un índice, similar a las listas. 

Las tuplas también se pueden concatenar, hacerles slicing, similar a las listas. También se puede usar comandos como len. 

Las tuplas son inmutables. Esto quiere decir que no se pueden modificar, sino que en vez, se tiene que crear una nueva variable para manipularlas.

En las tuplas, se puede hacer nesting. Esto quiere decir que permite guardar tuplas dentro de tuplas, por ejemplo. Se puede aplicar un índice para poder accesar los elementos. 

Si se considera a las tuplas como un árbol, se puede seguir una convención para accesar de manera ordenada cada uno de los elementos en cada rama.

Otra estructura de datos importante son las listas. Una lista no es más que una secuencia ordenada que permite guardar datos. Se crean usando brackets y son mutables. Eso quiere decir que se puede entrar en ellas y modificar libremente sus elementos sin necesidad de crear otra lista aparte.

Además, en una lista se puede tener como elementos otras listas, strings, enteros, floats, etc. Se usa índices para accesar sus elementos, y se pueden operar usando slicing, concatenación, extender, append, etc. 

Cada vez que se le aplica un método a la lista, esta se cambia y lo guarda en su definición. Esto hace que se pueda agregar, modificar, borrar y dividir elementos. 

Otro aspecto importante es que las listas tienen la posibilidad de aliasing, lo que quiere decir que se les puede poner diferentes nombres a la misma lista. Esto es importante tener en cuenta porque puede pasar que se esté modificando a través de un alias una lista aparte.

#### **Quiz:** Ejercicios de Skills Network Labs (plataforma)

In [64]:
 A=(0,1,2,3)

In [65]:
A[3]

3

In [66]:
A[-1]

3

In [68]:
B=["a","b","c"]

In [69]:
B[1:]

['b', 'c']

In [70]:
A = (0,1,2,3)
A

(0, 1, 2, 3)

In [71]:
A[0:2]

(0, 1)

In [72]:
B=["a","b","c"]
B

['a', 'b', 'c']

In [73]:
B[0:2]

['a', 'b']

In [74]:
B[0] = B[0].upper()
B

['A', 'b', 'c']

### **Lab - Lists and tuples**

Tuples

In [2]:
# Create your first tuple

tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [3]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [4]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [5]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [7]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [8]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [9]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [10]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [13]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [14]:
# Get the length of tuple

len(tuple2)

5

In [15]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [16]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [17]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [18]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [19]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [20]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [21]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [22]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [23]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

#### Quiz on Tuples

In [24]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [25]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

In [26]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

In [27]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [28]:
# Write your code below and press Shift+Enter to execute
genres_tuple[:2]

('pop', 'rock')

In [29]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index('disco')

7

In [30]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5, 1, -3)
sorted(C_tuple)

[-5, -3, 1]

Lists

In [31]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [32]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [33]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [34]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [35]:
# List slicing

L[3:5]

['MJ', 1]

In [36]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [37]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [38]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [39]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [40]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [41]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [42]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [43]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [44]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [45]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [46]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [47]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

#### Quiz on Lists

In [48]:
# Write your code below and press Shift+Enter to execute
a_list = [1,'hello',[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

In [49]:
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

In [50]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

In [51]:
# Write your code below and press Shift+Enter to execute
A = [1, 'a']
B = [2, 1, 'd']
A+B

[1, 'a', 2, 1, 'd']

### **Sets**

Los sets son un tipo de colección que permite diferentes tipos en Python. A diferencia de otros tipos de datos, estos no tienen orden, pero no se pueden repetir. 

Una lista se puede convertir a un set, usando el comando "set()" con argumento la lista que queremos convertir en un set.

También se puede borrar con un comando "del()", donde podemos colocar el elemento que deseamos eliminar.

Otra función útil es "in", a través de la cual obtenemos un valor booleano para saber el resultado de la evaluación.

In [52]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [55]:
S={'A','B','C'}

U={'A','Z','C'}

SU = S & U

SU

{'A', 'C'}

### **Lab - Sets**

In [56]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [57]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [58]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [59]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [60]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [61]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [62]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [63]:
# Verify if the element is in the set

"AC/DC" in A

True

In [64]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [65]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [66]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [67]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [68]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [69]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [70]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [71]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [72]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [73]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [74]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

#### Quiz on Sets

In [75]:
# Write your code below and press Shift+Enter to execute
list_elements = ['rap','house','electronic music', 'rap']
list_set = set(list_elements)
list_set

{'electronic music', 'house', 'rap'}

In [76]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
bool(sum(A) == sum(B))

False

In [77]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [78]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

True

### **Dictionaries**

Los diccionarios tienen llaves y valores. Sus llaves son inmutables, pueden ser valores alfanuméricos y no se repiten. A través de la llave, se puede tener acceso a los campos que están guardados en el diccionario.

In [80]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [81]:
D = {'a':0,'b':1,'c':2}
D['b']

1

### **Lab - Dictionaries**

In [82]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [83]:
# Access to the value by the key

Dict["key1"]

1

In [84]:
# Access to the value by the key

Dict[(0, 1)]

6

In [85]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [86]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [87]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [88]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [89]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [90]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [91]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [92]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

#### Quiz on Dictionaries

In [93]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [94]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [95]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [96]:
# Write your code below and press Shift+Enter to execute
album_sales_dict = {'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [97]:
# Write your code below and press Shift+Enter to execute
album_sales_dict['Thriller']

65

In [98]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [99]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()

dict_values([50, 50, 65])

### **Review Questions**

In [100]:
A = ('a','b','c')
A[0]

'a'

In [101]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict['D']

(4, 4, 4)

## **Módulo 3: Python Programming Fundamentals**

### **Conditions and Branching**

Una operación importante es la comparación. A través de esta se produce un resultado booleano, producto de una expresión que es evaluada para determinar si es cierta o es falsa.

El formato adecuado usa dos signos de igualdad == para crear la expresión a evaluar. La evaluación puede resultar en un valor de True o de False.

En caso de necesitar evaluar una expresión de "diferente a", se utiliza los símbolos "!=" entre dos operandos.

Por otro lado, otra función muy útil es el branching. Este permite "dividir" el código en condiciones de ejecución, con el fin de poder evaluar la ocurrencia de ciertos sucesos que haga evaluaciones ciertas o falsas.

El condicional "if" es el más importante componente del branching. A través de la indentación, es posible determinar si cierto segmento del código es ejecutado. Además, permite otorgarle opciones de evaluación, con el fin de permitir ejecuciones alternativas vinculadas al resultado de las evaluaciones condicionales.

In [105]:
bool(1!=1)

False

In [106]:
bool(1!=0)

True

In [107]:
bool(1!=-1)

True

In [108]:
bool(1!=10000000)

True

In [109]:
x='a'

if(x!='a'):

    print("This is not a.")

else:

    print("This is a.")

This is a.

### **Lab - Conditions and Branching**

In [2]:
# Condition Equal

a = 5
a == 6

False

In [3]:
# Greater than Sign

i = 6
i > 5

True

In [4]:
# Greater than Sign

i = 2
i > 5

False

In [5]:
# Inequality Sign

i = 2
i != 6

True

In [6]:
# Inequality Sign

i = 6
i != 6

False

In [7]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [8]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [9]:
# Compare characters

'B' > 'A'

True

In [10]:
# Compare characters

'BA' > 'AB'

True

In [11]:
# If statement example

age = 19
age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

move on

In [12]:
# Else statement example

#age = 18
age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

you can enter
move on

In [13]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [14]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [15]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

In [16]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [17]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [18]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

#### Quiz on Conditions

In [19]:
# Write your code below and press Shift+Enter to execute
rating = 8.5
if (rating > 8):
    print('This album is Amazing!')

This album is Amazing!

In [20]:
# Write your code below and press Shift+Enter to execute

rating = 8.5
if(rating>8):
    print('this album is amazing')
else:
    print('this album is ok')

this album is amazing

In [21]:
album_year =1979

if album_year<1980 or album_year ==1991 or album_year == 1993:
    print("This album came out in year " + str(int(album_year)))

This album came out in year 1979

### **Loops**

Una función muy importante es range(). Esta función permite crear una lista que se puede recorrer a través de un índice 'i'. Al combinar esta función con 'for loops', se puede crear código que lleve a cabo una tarea repetidas veces, tomando cada vez un elemento nuevo de una lista. 

Por otro lado, existen los 'while loops', que son básicamente ciclos que se repiten siempre y cuando se cumpla una condición que se desee. Esto es especialmente útil en ciclos en donde es necesario llevar a cabo un proceso hasta que se cumpla cierta observación, la cual no necesariamente sabemos que existirá pero que condiciona algún proceso y código.

In [22]:
A=[3,4,5]

for a in A:

    print(a)

3
4
5

In [24]:
x=3

y=1

while(y!=x):

    print(y)

    y=y+1

1
2

### **Lab - Loops**

In [25]:
# Use the range

range(3)

range(0, 3)

In [26]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [27]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [28]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973

In [29]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [30]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [31]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

#### Quiz on Loops

In [32]:
# Write your code below and press Shift+Enter to execute
for i in range(-4,5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

In [33]:
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for genre in Genres:
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [34]:
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

In [35]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 # This prints the value 10 only once 
    Rating = PlayListRatings[i]
    i = i + 1

10
9.5
8

In [36]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
element = squares[i]
while(i<len(squares) and element == 'orange'):
    print(element)
    new_squares.append(element)
    i = i + 1
    element = squares[i]
print(new_squares)

orange
orange
['orange', 'orange']

### **Functions**

Una función es un objeto en donde se toma un insumo de entrada y se poduce un cambio o un insumo de salida. La idea detrás de esto es crear código que se puede modularizar y reutilizar en diversas ocasiones. Se puede implementar una función propia o se puede utiliza alguna función definida por alguien más. 

Para llamar una función, se debe conocer su nombre y la llave con la que se debe suplir. También se debe conocer los parámetros de salida y sus tipos, para cerciorarse que se está utilizando correctamente. 

Una buena práctica importante alrededor de las funciones es documentar su utilización al inicio de las mismas. Esto permite a otras personas e incluso al creador comprender para qué se utilizan, cuáles son sus entradas y salidas, etc. 

También es importante entender el 'scope', o alcance, de las funciones. Esto permite entender cuáles variables son globales y cuales son locales al contexto de utilización del método representado por el scope local. Inicialmente, una función intentará resolver utilizando su scope local para tomar una variable definida. Sin embargo, si no lo encuentra acá, busca en el contexto global, para funciones y variables.

In [39]:
a=1

def add(b):

    return a+b

c=add(10)
c

11

In [42]:
def f(*x):

    return sum(x)
print(f(4,3,33))

40

### **Labs - Functions**

In [43]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [44]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [45]:
# Call the function add()

add(1)

1 if you add one 2

2

In [46]:
# Call the function add()

add(2)

2 if you add one 3

3

In [47]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [48]:
# Use mult() multiply two integers

Mult(2, 3)

6

In [49]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [50]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [51]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [52]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [53]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

In [54]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [55]:
# See the output

MJ()

Michael Jackson

In [56]:
# See the output

MJ1()

Michael Jackson

In [57]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [58]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [59]:
# Test on the con() function

con("This ", "is")

'This is'

In [60]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [61]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [62]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [63]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [64]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [65]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [66]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

In [67]:
# Show the length of the list or tuple

len(album_ratings)

8

In [68]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [69]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [70]:
# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [71]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [72]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [73]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
printer1(internal_var1)

Michael Jackson is an artist

NameError: name 'internal_var1' is not defined

In [74]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [75]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [76]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0

NameError: name 'myFavouriteBand' is not defined

In [77]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

In [78]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [79]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [80]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

#### Quiz on Functions

In [81]:
# Write your code below and press Shift+Enter to execute
def divide(a,b):
    division = a/b
    return division
print(divide(40,8))

5.0

In [82]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

In [83]:
# Write your code below and press Shift+Enter to execute
print(con('first ','second'))
print(con(1,2))

first second
3

In [84]:
# Write your code below and press Shift+Enter to execute
print(con(['A','B','C'],['D','E','F']))
print(con(('A','B','C'),('D','E','F')))

['A', 'B', 'C', 'D', 'E', 'F']
('A', 'B', 'C', 'D', 'E', 'F')