<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actividad de semana 1 - 2: Python for Data Science (IBM)**

#### **Nombre:** Matthias Sibrian Illescas

#### **Matrícula:** a01794249

## **Módulo 1: Python Basics**

### **Your First Program**

Python es un lenguaje de programación de alto nivel usado de manera extensa tanto por principiantes como por expertos. Además, cuenta con muchos paquetes y librerías adicionales que lo hace muy versátil, y que lo hace un lenguaje de programación clave de aprendizaje para la ciencia y la analítica de datos.

Python es el lenguaje open-source y de alto nivel más popular del momento. Es muy útil para desarrollo web, investigación científica y programación orientada a objetos.

Para comentar código, se usa el símbolo de # para diferenciar de comandos colocados a propósito.

#### **Quiz:** Ejercicios de Skills Network Labs (plataforma)

Así se imprime un texto:

In [1]:
print("Hello World")

Hello World

Así se coloca un comentario. Al correrlo, esto no dará ningún texto de salida en la terminal:

In [2]:
# this is a comment

Así se incluye una nueva línea en la terminal donde se está corriendo el script de Python:

In [3]:
print("Hello\nWorld")

Hello
World

Por lo tanto, este comando se tratará como un comentario:

In [ ]:
# print('Hello World!')

### **Types**

Para representar un dato, es importante conocer que Python tiene diferentes estructuras para hacerlo. Las más comunes son las siguientes:

**Tipo**|**Descripción**
:-----:|:-----:
String|Cadenas de literales alfanuméricos
Int|Números enteros, positivos y negativos
Float|Números en escala real
Booleano|Valor binario, "True" o "False"

Dependiendo el tipo de dato que se quiera guardar, uno de los tipos será más conveniente que otro. Por ejemplo, para valores alfanuméricos, es recomendable los strings. Para un valor entero, el int y para valores numéricos en escala real, el punto flotante.

Todos estos tipos de datos tienen un rango finito, el cual es sumanamente grande.

**Type casting**: La práctica de cambiar un valor de un tipo de dato a otro. Hay que tener en cuenta que se puede perder granularidad en valores numéricos al cambiarlos de un tipo a otro. 

Es importante saber que el valor 1 se castea directamente a un valor True en booleano, mientras que el 0, a un valor False.

#### **Quiz:** Ejercicios de Skills Network Labs (plataforma)

Así se puede saber cuál es el tipo de dato de los siguientes valores, usando el comando *type* en Python:

In [4]:
type('Hello World')

str

In [5]:
type("1.1")

str

Así se puede hacer un casting del valor entre tipos, por ejemplo, de string a entero a booleano:

In [6]:
bool(int("1"))

True

Acá, se conviente un valor real a entero y luego se revisa su tipo:

In [7]:
type(int(1.0))

int

Acá, se castea un entero a un valor booleano:

In [8]:
bool(1)

True

### **Expressions and Variables**

En Python, podemos usar expresiones para llevar a cabo operaciones aritméticas. Se puede realizar sumas, restas, divisiones y operaciones. Python respeta el orden de operaciones habitual, por lo que se puede usar paréntesis para fijar el orden. 

Además, se puede usar variables, lo cual permite guardar un valor con un nombre particular, y luego llevar a cabo operaciones sobre las variables. Luego, se puede ir guardando en otras variables, y así sucesivamente. 

Para fijar una variable, se usa el literal '='. 

Es una buena práctica usar nombres de variables relevantes de una forma ordenada y sistemática en un programa.

### **Lab - Write Your First Python Code! - Ejercicios realizados**

In [1]:
print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [3]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [4]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [5]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (3628399183.py, line 3)

In [6]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Hello, world!')

Hello, world!

In [8]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Hello, world!') #Print the traditional hello world

Hello, world!

In [ ]:
# Integer

11

In [ ]:
# Float

2.14

In [ ]:
# String

"Hello, Python 101!"

In [ ]:
# Type of 12

type(12)

In [ ]:
# Type of 2.14

type(2.14)

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

In [ ]:
# Print the type of -1

type(-1)

In [ ]:
# Print the type of 4

type(4)

In [ ]:
# Print the type of 0

type(0)

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

In [ ]:
# Print the type of 0.5

type(0.5)

In [ ]:
# Print the type of 0.56

type(0.56)

In [ ]:
# System settings about float type

sys.float_info

In [ ]:
# Verify that this is an integer

type(2)

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

In [ ]:
# Convert an integer to a string

str(1)

In [ ]:
# Convert a float to a string

str(1.2)

In [ ]:
# Value true

True

In [ ]:
# Value false

False

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

In [ ]:
# Subtraction operation expression

50 - 60

In [ ]:
# Multiplication operation expression

5 * 5

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

In [ ]:
# Mathematical expression

30 + 2 * 60

In [ ]:
# Mathematical expression

(30 + 2) * 60

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

In [ ]:
# Overwrite variable with new value

x = x / 60
x

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x= 3+2*2
x

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3+2)*2
y

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x+y
z

### **String Operations**

En Python, los strings son básicamente secuencias de elementos ordenados y accesibles a través de un índice. Para accesar cada elemento, es posible indicar la posición en el arreglo.

Algunas operaciones que se pueden hacer sobre los strings:

**Operación**|**Descripción**
:-----:|:-----:
Concatenación|Unir dos strings a través de un +
Multiplicación|Multiplicar varios strings a través de un *
Slicing|Cortar un string a partir de una posición a través de [n:n]

Asimismo, existen métodos exclusivos para manipular strings. Esto permite realizar operaciones más complejas sobre ellos, como por ejemplo:

**Operación**|**Descripción**
:-----:|:-----:
upper(string)|Convierte un string a mayúsculas
replace('old','new')|Reemplaza cierto segmento en un string por otro
find(string)|Devuelve los índices en algún string para cierto segmento

#### **Quiz:** Ejercicios de Skills Network Labs (plataforma)

In [10]:
#Para obtener los elementos pares
Numbers = '0123456'
Numbers[::2]

'0246'

In [11]:
#El resultado del siguiente código será un entero 1, porque es el índice de la posición consultada
"0123456".find('1')

1

In [15]:
#Para seleccionar los primeros cuatro valores del string, 
# se debe indicar un rango de 0 a 4, 
# pues así se indica las primeas cuatro posiciones 
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [16]:
#En el caso de strides, que sirven para indicar un paso en el string, se necesita el siguiente
#código para indicar un paso de 2 en el string
Good="GsoAo+d"
Good[::2]

'Good'

In [17]:
#Para imprimir un string a mayúscula, se usa upper
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [18]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [19]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [20]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [21]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [22]:
# Print the string

print("hello!")

hello!

In [23]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [24]:
# Print the first element in the string

print(name[0])

M

In [25]:
# Print the element on index 6 in the string

print(name[6])

l

In [26]:
# Print the element on the 13th index in the string

print(name[13])

o

In [27]:
# Print the last element in the string

print(name[-1])

n

In [28]:
# Print the first element in the string

print(name[-15])

M

In [29]:
# Find the length of string

len("Michael Jackson")

15

In [30]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [31]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [32]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [33]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [34]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [35]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [36]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [37]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [38]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [39]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [40]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [41]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [42]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [43]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [44]:
# Find the substring in the string.

name.find('Jack')

8

In [45]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [46]:
# Write your code below and press Shift+Enter to execute 

a = "1"
'1'

'1'

In [47]:
# Write your code below and press Shift+Enter to execute

b = "2"
'2'

'2'

In [48]:
# Write your code below and press Shift+Enter to execute 

c = a + b
#'1' + '2' = '12'
'12'
c

'12'

In [49]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
d[0:3]

'ABC'

In [50]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [51]:
# Write your code below and press Shift+Enter to execute
print(r'\ ')

\

In [52]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [53]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find('snow')

95

In [54]:
# Write your code below and press Shift+Enter to execute
g.replace('Mary','Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

### **Review Questions**

In [55]:
3 + 2 * 2

7

In [56]:
name = 'Lizz'

In [57]:
print(name[0:2])

Li

In [58]:
var = '01234567'

In [59]:
print(var[::2])

0246

In [60]:
'1'+'2'

'12'

In [61]:
myvar = 'hello'

In [62]:
myvar.upper()

'HELLO'

## **Módulo 2: Python Data Structures**